<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
<link href="files/css/svg.css" rel="stylesheet">
	  
	  <title>Login API</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>

    <!-- 
      https://getbootstrap.com/docs/5.3/components/alerts/
      for the svg path 
    -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </symbol>
      <symbol id="info-fill" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </symbol>
      <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
    </svg>


    <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-icon-tab" data-bs-toggle="pill" data-bs-target="#pills-icon" type="button" role="tab" aria-controls="pills-icon" aria-selected="false">get an Icon</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-name-tab" data-bs-toggle="pill" data-bs-target="#pills-name" type="button" role="tab" aria-controls="pills-name" aria-selected="false">Naming</button>
      </li>

      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-usename-tab" data-bs-toggle="pill" data-bs-target="#pills-username" type="button" role="tab" aria-controls="pills-usename" aria-selected="false">Reset your usename</button>
      </li>

      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-password-tab" data-bs-toggle="pill" data-bs-target="#pills-password" type="button" role="tab" aria-controls="pills-password" aria-selected="false">Reset your password</button>
      </li>
  
    </ul>


    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">Home</div>

      <div class="tab-pane fade" id="pills-icon" role="tabpanel" aria-labelledby="pills-icon-tab" tabindex="0">
        <div class="container text-center">
            <% for(let col = 0; col < (images.length/3) ; col++){ %>
              <div class="row">
             <% for(let row = 1; row < 4; row++){ %>
               <div class="col" id= <%= (row+(col*2)+col)-1 %> onclick='selected(this)'>
                 <% if(  (row+(col*2)+col) -1 != images.length-1 ) { %>
                   <%- images[ (row+(col*2)+col) -1 ].file %>
                     <% } else { %>
                               <%- images[ (row+(col*2)+col) -1 ].file %>
                       <% break; %>
                    <% } %>
                 </div>
               <% } %>
               </div>
           <% } %> 
      </div>

      <h3 class="helpText">Select a image for your account</h3>
      <form action="/aplyIcon" method="post" class='aplyIcon'>
            <input type="hidden" name="ImageNumber" required /> 
            <input type="hidden" name="username"  required  value= <%= username %> /> 
      
          <input type="submit" value="apply icon" disabled="on" class="applyClick" />
      
            
          </form>
      
   
        </div>
      </div>
        <div class="tab-pane fade" id="pills-name" role="tabpanel" aria-labelledby="pills-name-tab" tabindex="0">
          <select class="form-select name" aria-label="Default select example">
            <option selected aria-disabled="true" disabled>Open this select menu</option>
            <option value="fname">set my first name</option>
            <option value="lname">set my last name</option>
            <option value="both">set both my first and my last name</option>
            <option value="display"> I want to be referred to as</option>
          </select>
      
  
        <br>
        <br>
        <br>
        <br>
  
        <fieldset>
    <form action="/aplyName" method="post" class='row needs-validation fname hide' novalidate>
      <input type="hidden" name="username"  required  value= <%= username %> /> 
  
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" aria-label="fname" name="fname" required minlength="3" />
  
          <div class="invalid-feedback">
            Please provide a first name with at least 3 characters
          </div>
          
        </div>
        
      </div>
  
  
  
    <input type="submit" value="submit"  class="btn btn-primary"/>
  
      
    </form>
  
  
    <form action="/aplyName" method="post" class='row needs-validation lname hide' novalidate>
      <input type="hidden" name="username"  required  value= <%= username %> /> 
    
          <div class="row">
         
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" aria-label="lname" name="lname" required minlength="2" >
              <div class="invalid-feedback">
                Please provide a last name with at least 2 characters
              </div>
            </div>
          </div>
    
          <input type="submit" value="submit"  class="btn btn-primary" />
        </form>
  
  
  <form action="/aplyName" method="post" class='row needs-validation both hide' novalidate>
  <input type="hidden" name="username"  required  value= <%= username %> /> 
  
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name" aria-label="fname" name="fname" required minlength="3" />
  
        <div class="invalid-feedback">
          Please provide a first name with at least 3 characters
        </div>
      </div>
  
  
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name" aria-label="lname" name="lname" required minlength="2" >
        <div class="invalid-feedback">
          Please provide a last name with at least 2 characters
        </div>
      </div>
    </div>
  
    <input type="submit" value="submit"  class="btn btn-primary" />
  </form>
  
  <form action="/aplyName" method="post" class='row needs-validation display hide' novalidate>
    <input type="hidden" name="username"  required  value= <%= username %> /> 
  
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Display name" aria-label="fname" name="fname" required minlength="1" maxlength="40"/>
  
        <div class="invalid-feedback">
          Please provide a Display Name with at least 1 character and a maximum length of 40 characters
        </div>
        
      </div>
      
    </div>
  
  
  
  <input type="submit" value="submit"  class="btn btn-primary"/>
  
    
  </form>
  
  
        </fieldset>
  

        </div>

        <div class="hstack gap-2 tab-pane fade" id="pills-username" role="tabpanel" aria-labelledby="pills-usename-tab" tabindex="0">
          <div class="hstack gap-2">
            <div class="p-2" aria-disabled="false" >
                  <div class="p-3 m-1 border-1 bd-example">
           <form class="row g-2 needs-validation needs-feedback" novalidate>
            <div id="liveAlertPlaceholder"></div>
  
            <div class="col-mb-3">
              <label for="validationDefault01" class="form-label">Username</label>
              <input type="text" class="form-control" id="validUsername"  required>
              
              <div class="invalid-feedback">
                Please enter a Username.
              </div>
              
            </div>
            <div class="col-mb-3">
              <label for="validationDefault02" class="form-label">Password</label>
              <input type="password" class="form-control" id="validPassword" required>
              
               <div class="invalid-feedback">
                Please enter a Password.
              </div>
            </div>
            
             <button class="btn btn-primary" type="submit">Check form   <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg> </button>
          </form>
            </div>
            </div>
            
            <div class="vr"></div>
            
             <div class="p-2">
            <div class="p-3 m-1 border-1 bd-example" aria-disabled="true">

           <form class="row g-2 needs-validation" novalidate>
          
           <div class="input-group mb-3" >
                <div class="input-group-text">
                  <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input" id="checked" required onclick="document.getElementById('text').dissabled = document.getElementById('checked').checked ? false : true">
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox" required id="text">
              </div>
              
              
             <button class="btn btn-primary" type="submit">Check form   <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg> </button>
          </form>
          
          
            </div>
            </div>
            
            </div>
        </div>

        <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab" tabindex="0">

        </div>

      </div>
    
    
    </div>
    
     
 

      </div>
    



	  <!-- https://getbootstrap.com/docs/5.3/components/navs-tabs/#accessibility for pills-->

  <!-- https://getbootstrap.com/docs/5.3/components/carousel/ for the  carousel-->

        
	  </body>


	
  <script src="files/js/colGroup.js"></script>
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  
  </body>
</html>

	